:root{
    --span:#CAE962;
    --background-header: #3f4149;
    --background-body: #FFFFFF;
    --link-color: aliceblue;
    --light-text-color: #FFFFFF;
    --dark-text-color: #2A2C31;
    --card-background: transparent;
}
/* slide show start */
.carousel-title{
    position: absolute;
    z-index: 2;
    top: 5%;
    left: 2%;
    color: var(--span);
}
.carousel-item, .carousel{
    height: 80dvh;
}
.carousel-item img{
    height: inherit;
}
.carousel-caption{
    color: var(--span);
    position: absolute;
    top: 60%;
    left: 10%;
    text-align: justify;
    -webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
    z-index: 1;
}
.carousel-caption p{
    color: var(--light-text-color);
    width: 60%;
    line-height: 1em;
}
.carousel-control-next, .carousel-control-prev{
    color: var(--span);
    opacity: 1;
    font-size: xx-large;
}
.carousel-control-next{
    padding-left: 7%;
}
.carousel-control-prev{
    padding-right: 7%;
}
.carousel-item img{
	transform: scale(1, 1);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 38s;
  	animation-name: zoomin;
  	animation-duration: 38s;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 80dvh;
	background-color: #000;
	opacity: 0.4;
    z-index: 1;
}
@-webkit-keyframes zoomin {
    from {transform: scale(1, 1);}
    to {transform: scale(1.5, 1.5);}
  }
  
  @keyframes zoomin {
    from {transform: scale(1, 1);}
    to {transform: scale(1.5, 1.5);}
  }
  @-webkit-keyframes posi {
      from {left: 20%; opacity: 0.2;}
      to {left: 10%; opacity: 1;}
  }
  @keyframes posi {
      from {left: 20%; opacity: 0.2;}
      to {left: 10%;opacity: 1; }
  }
  /* end of slide show */
.movies-bar{
    height: auto;
    width: 100%;
    background-color: #ebedf5;
    border-radius: 10px;
  }
.card{
    width: 300px;
    box-shadow: 2px 1px 12px black;
    border-radius: 10px;
    overflow: hidden;
}
.movies-bar img{
    height: 180px;
}
.card-body{
    line-height: 1.2em;
    background-color: var(--card-background);
}
.card-body h5{
    color: var(--dark-text-color);
}
.btn-outline-primary{
    color: var(--span);
    border-color:var(--span);
    background-color:var(--background-body);
    padding: 5px 10px;
    font-weight: 500;
}
.btn-outline-primary:hover{
    color: var(--dark-text-color);
    border-color: var(--dark-text-color);
    background-color: var(--background-body);
}
@media only screen and (max-width: 650px){
    .carousel-title{
        font-size: x-small;
    }
    button{
        padding: 5px;
        font-size: x-small;
    }
    .overlay{
        height: 60dvh;
    }
    .carousel-caption h3{
        font-size: medium;
        margin: 3px 0;
        
    }
    .carousel-item, .carousel{
        height: 60dvh;
    }
    .carousel-caption{
        top: 58%;
        left: 13%;
    }
    @-webkit-keyframes posi {
        from {left: 20%; opacity: 0.2;}
        to {left: 13%; opacity: 1;}
    }
    @keyframes posi {
        from {left: 20%; opacity: 0.2;}
        to {left: 13%;opacity: 1; }
    }
    .carousel-caption p{
        font-size: x-small;
        width: 80%;
    }
    .movies-bar{
        height: auto;
        width: 100%;
        background-color: #ebedf5;
        border-radius: 10px;
      }
      .movies-bar img{
          height: 150px;
      }
    .card{
        width: 220px;
    }
    .card-body h5{
        font-size: medium;
    }
}
@media only screen and (max-width: 400px){
    .carousel-caption{
        top: 45%;
        left: 13%;
    }
    .carousel-control-next, .carousel-control-prev{
        font-size: large;
    }
}