*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --span:rgb(57, 172, 189);
    --background-header: #06444c;
    --background-body: rgb(15, 55, 68);
    --secondary-background-body: rgb(254, 255, 255);
    --link-color: rgb(225, 225, 225);
    --light-text-color: #e5e5e5;
    --dark-text-color: #225961;
    --card-background: var(--background-header);
    --movie-bar-background:#225961;
/* 
    --span:#CAE962;
    --background-header: #3f4149;
    --background-body: #ffffff;
    --link-color: aliceblue;
    --light-text-color: #FFFFFF;
    --dark-text-color: #2A2C31; */
}

body{
    background-color: var(--background-body);
    color: var(--light-text-color);
}
span{
    color: var(--span);
}
.navbar{
    background-color: var(--background-header);
    box-shadow: 3px 3px 10px 1px var(--span);
    border-bottom: var(--span) 3px solid;
    width: 92%;
    margin: 0 auto;
    border-radius: 0 0 0px 25px;
}
.navbar-brand:hover{
    color: var(--span);
}
.nav-item a{
    color: var(--link-color);
    margin: 0 15px;
}
.container-fluid a{
    color: var(--link-color);
}
.nav-item .active{
    color: var(--span);
}
.nav-item a:hover{
    text-decoration: none;
    color:var(--span);
}
.navbar-toggler{
    color: var(--light-text-color);
    border: var(--bs-border-width) solid var(--light-text-color);
}
/* end of header */
footer{
    border-top: var(--span) solid 3px;
    background-color: var(--background-header);
    height: auto;
}
footer p{
    margin-bottom: -1rem;
    padding: 16px;
    color: var(--light-text-color);
    text-align: center;
    font-size: small;
}